{% extends "base.html" %}

{% block title %}Welcome - {{ app_name }}{% endblock %}

{% block content %}
<h1>Welcome, {{ name }}!</h1>
<p>Thank you for joining {{ app_name }}. We're excited to have you on board!</p>
<p>Your account has been successfully created with the email: <strong>{{ email }}</strong></p>
<p>You can now start using all the features available to you.</p>
<a href="{{ frontend_url }}" class="button">Go to Dashboard</a>
<p>If you have any questions, feel free to reach out to our support team.</p>
{% endblock %}
